#section-3 {
    height: 100vh;
    padding-top: 50px;
    margin-bottom: 30px;
    
    h1 {
        margin: 0;
        font-weight: 500;
        font-size: 130px;
    }
}

div.About {
    display: grid;
    grid-template-areas: '🟥 🟦';
    grid-template-columns: 50% 50%;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 200;
    margin-top: 50px;
    height: auto;
}

div.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#Title {
    font-size: 130px;
    font-weight: 500;
    margin: 0;
    user-select: none;
}

#addon1 img {
    margin-left: 350px;
    user-select: none;
}

#addon2 img {
    margin-right: 350px;
    user-select: none;
}


.picture {
    width: 432px;
    height: 576px;
    border-radius: 15px;
    margin-left: 110px;
    user-select: none;

}


.who {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 0;
    h2 {
        margin: 0;
    }
}

.text-1 {
    font-size: 25px;
    font-weight: 400;
}

.text-2 {
    font-size: 25px;
    font-weight: 400;
}