#section-6 {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    scroll-snap-align: start;

  
}

.design-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.About {
    display: flex;
    font-weight: 200;
    margin-top: 50px;
    height: auto;
    gap: 3em;
    align-items: center;
    justify-content: center;
    width: 75%;

}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title1 h1 {
    font-weight: 500;
    margin: 0;
    user-select: none;
    font-size: 130px;
}

#addon1 img {

    user-select: none;
    width: 3.5em;
    height: 3.5em;
}

#addon2 img {

    user-select: none;
    width: 3.5em;
    height: 3.5em;
}

.light,
.light1 {
    visibility: visible;
    display: inline;
}

.dark,
.dark1 {
    visibility: hidden;
    display: none;

}



@media (prefers-color-scheme: dark) {

    .light,
    .light1 {
        visibility: hidden;
        display: none;
    }

    .dark,
    .dark1 {
        visibility: visible;
        display: inline;

    }
}


