div.landing {
    display: grid;
    grid-template-areas:'✅ 🟥 🟫 ⬆️'
                        '🅱️ 🟩 🟨 📴'
                        '🛑 🟪 🟧 🆎'
                        '🈵 🧮 ♋️ 🚓';
    grid-template-rows: 655px 655px 655px;
    grid-template-columns: auto 519px 519px auto;
    margin-left: 50px;
    margin-right: 50px;
    height: 95%;
    font-weight: 200;
}

