.section-5 {
    height: 100vh;
}



.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.titlegallery {
    font-size: 130px;
    font-weight: 500;
    margin: 0;
    user-select: none;

}

#addon1 img {
    user-select: none;
}

#addon2 img {
    transform: scaleX(-1);
    user-select: none;
}

.light,
.light1 {
    visibility: visible;
    display: inline;
}

.dark,
.dark1 {
    visibility: hidden;
    display: none;

}

@media (prefers-color-scheme: dark) {

    .light,
    .light1 {
        visibility: hidden;
        display: none;
    }

    .dark,
    .dark1 {
        visibility: visible;
        display: inline;

    }
}



.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 95%;
    font-weight: 200;
    gap: 2em;
    align-items: center;
 }
 

 
 .Gallery img {
    height: 588px;
    width: 441px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .img1 img,
 .img2 img,
 .img3 img,
 .img4 img,
 .img5 img,
 .img6 img,
 .img7 img,
 .img8 img {
    user-select: none;
    transition: transform 0.2s ease-in-out;
 }
 
 .img1 img:hover,
 .img2 img:hover,
 .img3 img:hover,
 .img4 img:hover,
 .img5 img:hover,
 .img6 img:hover,
 .img7 img:hover,
 .img8 img:hover {
    transform: scale(1.05);
 }
 