#section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // margin-bottom: 50px;
}

.picture {
    width: 441px;
    height: 588px;
    border-radius: 5px;
    user-select: none;
}

.text-2 {

    font-size: 70px;
    font-weight: 500;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-color: $space-black;
    border: 5px;
}

.Text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.Text {
    display: flex;
    font-weight: 200;
    margin-top: 50px;
    height: auto;
    gap: 3em;
    align-items: center;
    justify-content: center;
    width: 75%;

}

a.banner {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    user-select: none;

}
a.banner img {
      transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      width: 441px;
      height: 588px;
      border-radius: 5px;
      user-select: none;


}
a.banner img:hover {
      transform: scale(1.005);
      box-shadow: 0px 0px 16px rgba(32, 32, 32, 0.4);
      cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    a.banner img:hover {
        box-shadow: 0px 0px 16px rgba(216, 216, 216, 0.4);
    }

}
