@media (max-width: 850px) {
    .about {
        display: none;

    }

    .rights {
        font-size: 0.9em;
    }

    .nav {
        width: 95%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .logodark {
        width: 70px;
        height: 70px;
    }

    .gallery {
        font-size: 30px;
        width: 154px;
        pointer-events: none;
    }


    main {
        max-width: 95%;
    }

    .footer {
        width: 90%;
    }

    .Btn {
        pointer-events: none;
    }

}


@media (max-width: 850px) {}