@media (max-width: 850px) {
    .about {
        display: none;

    }

    .rights {
        font-size:0.9em;
    }

    .nav {
        width: 95%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
    .logodark {
        width: 70px;
        height: 70px;
    }

    .gallery {
        font-size: 30px;
        width: 154px;
    }
    

    main {
        max-width: 95%;
    }


}


@media (max-width: 850px) {

}