@media (max-width: 678px) {


    .title1 h1 {
        font-size: 75px;
        margin-left: -0.3em;
        margin-right: -0.3em;
    }

    #addon2 img {
        width: 2em;
        height: 2em;
        margin-right: 0em;
    }

    #addon1 img {
        width: 2em;
        height: 2em;
        margin-left: 0;
    }

    .container .box.dashinit,
    .dashinitdark {
        pointer-events: all;
    }

    .container {
        flex-direction: column;
        margin-bottom: 1em;
        pointer-events: none;

    }
}