
@media (max-width: 650px) {
    .Gallery-container {
        flex-direction: column;
        margin-bottom: 10em;
    }
}

@media (max-width: 850px) {
    .Gallery img {
        margin-bottom: 0;
        height: 30em;
        width: 22em;
    }
}