@media (max-width: 850px) {
    .hey {
        font-size: 30px;
    }

    .name {
        font-size: 110px;
        letter-spacing: -7px;
        margin-top: 10px;
    }

    .arrow {
        width: 3em;
        height: 3em;

        svg {
            width: 3em;
            height: 3em;
        
        }
    }
}