@media (max-width: 850px) {
    .hey {
        font-size: 30px;
    }

    .name {
        font-size: 110px;
        letter-spacing: -7px;
        margin-top: 10px;
    }

    .arrow {
        width: 3em;
        height: 3em;

        svg {
            width: 3em;
            height: 3em;
        
        }
    }
}

@media (max-width: 600px) {
    .hey {
        font-size: 27px;
    }

    .name {
        font-size: 85px;
        letter-spacing: -7px;
        margin-top: 10px;
    }

    .arrow {
        width: 2.5em;
        height: 2.5em;

        svg {
            width: 2.5em;
            height: 2.5em;
        
        }
    }

    div.landing {
        height: 70vh;
    }
}