@media (max-width: 850px) {
    .hey {
        font-size: 20px;
    }

    .name {
        font-size: 80px;
        letter-spacing: -7px;
    }

    .arrow {
        width: 1.5em;
        height: 1.5em;

        svg {
            width: 1.5em;
            height: 1.5em;
        
        }
    }
}