@media (max-width: 850px) {
    .text {
        font-size: 35px;
        letter-spacing: -2.5px;
    }
}

@media (max-width: 678px) {
    .text-2 {
        font-size: 30px;
        letter-spacing: -2.4px;
    }

    .Text {
        flex-direction: column;
        gap: 0;
        margin-top: 0px;
    }

    a.banner img {
        width: 363px;
        height: 470px;
    }

}

@media (max-width: 380px) {
    .text {
        font-size: 29px;
        letter-spacing: -2.3px;
    }

    .Text {
        flex-direction: column;
        gap: 0;
        margin-top: 0px;
    }

    a.banner img {
        height: 25em;
        width: 20em;
}
}