@media (max-width: 850px) {
    .text {
        font-size: 35px;
        letter-spacing: -2.5px;
    }
}

@media (max-width: 600px) {
    .text {
        font-size: 30px;
        letter-spacing: -2.4px;
    }
}