@import url('https://fonts.cdnfonts.com/css/general-sans?styles=135312,135307,135305,135306,135308,135309,135310,135311,135313,135314,135303,135304');

// Color Palette Light mode 
$space-beige: #FFFEF7; //Background
$space-black: #181816; //Text
$jade-green: #8CB369; //Accent


// Color Palette Dark mode 
$universe-black: #181816; //Background
$universe-beige: #FFFEF7; //Text
$space-purple: #B8B8FF; //Accent

// Font Family
$font-family: 'General Sans', sans-serif;

/* general style */



html,
body,
main {
	font-family: 'General Sans', sans-serif;
	margin: 0;
	color: $universe-black;
	background-color: $space-beige;
	margin-bottom: 0px;
	scroll-behavior: smooth;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
}

@media (prefers-color-scheme: dark) {

	html,
	body,
	main {
		font-family: 'General Sans', sans-serif;
		margin: 0;
		color: $space-beige;
		background-color: $universe-black;
		margin-bottom: 0px;
		scroll-behavior: smooth;
		margin-left: auto;
		margin-right: auto;
	}
}

main {
	max-width: 1512px;
}

img.img {
	border: 3px solid $space-black;
}

@media (prefers-color-scheme: dark) {
	img.img {
		border: 3px solid $space-beige;
	}
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	transition: all 0.3s ease;
	z-index: 999;
	user-select: none;
}

.logo-container {
	position: relative;
	width: 100px;
	height: 70px;
	overflow: hidden;
}

.logo-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

#logo1 {
	transform: translateY(0);
	opacity: 1;
}

#logo2 {
	transform: translateY(100%);
	opacity: 0;

}



nav ul {
	list-style-type: none;
	display: flex;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: $space-black;
	font-size: 20px;
}

nav a:hover {
	color: $jade-green;
}

@media (prefers-color-scheme: dark) {
	nav a:hover {
		color: $space-purple;
	}
}

@media (prefers-color-scheme: dark) {
	nav a {
		color: $space-beige;
	}
}




main {
	padding-top: 5rem;
}

.scrolled {
	background-color: $universe-beige ;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
	.scrolled {
		background-color: $space-black ;
		box-shadow: 0 2px 5px rgba(255, 254, 247, 0.1);
	}
}

.scrolled #logo1 {
	transform: translateY(-100%);
	opacity: 0;
}

.scrolled #logo2 {
	transform: translateY(0);
	opacity: 1;
}

.footer {
	display: flex;
	width: 98%;
	justify-content: center;
	align-items: center;

}

.rights {
	font-size: 1.3em;
	text-align: center;
	user-select: none;
}

.footer.button-container {
	display: block;
	margin: 0;
}

.button-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.Footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5em;
}

.arrow {
	height: 30px;
	width: 30px;
}

.Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45px;
	height: 45px;
	border-radius: calc(45px/2);
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background: $space-black;
}

.arrow-up {
	width: 100%;
	font-size: 2.2em;
	color: $space-beige;
	transition-duration: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* text */
.text-top {
	position: absolute;
	right: 0%;
	width: 0%;
	opacity: 0;
	color: $space-beige;
	font-size: 1.4em;
	font-weight: 500;
	transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
	width: 8em;
	transition-duration: .3s;
	background: $jade-green;
	border-width: 0%;
}

.Btn:hover .arrow-up {
	width: 30%;
	transition-duration: .3s;
	padding-left: 15px;
}

/* hover effect button's text */
.Btn:hover .text-top {
	opacity: 1;
	width: 70%;
	right: -15%;
	transition-duration: .3s;
	padding-right: 15px;
}

/* button click effect*/
.Btn:active {
	transform: translate(2px, 2px);
}

@media (prefers-color-scheme: dark) {
	.text-top {
		color: $space-black;

	}

	.Btn:hover {
		background-color: $space-purple;
	}

	.arrow-up {

		filter: invert(1);
	}

	.Btn {
		background: $space-beige;
	}

}

/* Scrollbars */

// Firefox
* {
	scrollbar-width: thin;
	scrollbar-color: $space-beige;
	/* Set the thumb and track colors */
	background-clip: padding-box;
	/* Remove the background */
}

// Webkit & Blink
*::-webkit-scrollbar {
	width: 6px;
	background-color: $space-beige;
	background-clip: padding-box;
	/* Remove the background */
}

*::-webkit-scrollbar-thumb {
	background-color: $jade-green;
	border-radius: 5px;
}

*::-webkit-scrollbar-track {
	background-color: $space-beige;
	/* Set a fallback color */
}

*::-webkit-scrollbar-track-piece {
	background-color: $space-beige;
}

@media (prefers-color-scheme: dark) {
	* {
		scrollbar-width: thin;
		scrollbar-color: $space-beige;
		/* Set the thumb and track colors */
		background-clip: padding-box;
		/* Remove the background */
	}

	// Webkit & Blink
	*::-webkit-scrollbar {
		width: 6px;
		background-color: $space-black;
		;
		background-clip: padding-box;
		/* Remove the background */
	}

	*::-webkit-scrollbar-thumb {
		background-color: $space-purple;
		border-radius: 5px;
	}

	*::-webkit-scrollbar-track {
		background-color: $space-black;
		;
		/* Set a fallback color */
	}

	*::-webkit-scrollbar-track-piece {
		background-color: $space-black;
		;
	}
}