@import url('https://fonts.cdnfonts.com/css/general-sans?styles=135312,135307,135305,135306,135308,135309,135310,135311,135313,135314,135303,135304');

/* general style */
html,
body,
main {
	font-family: 'General Sans', sans-serif;
	margin: 0;
	color: #181816;
	background-color: rgba(254, 252, 237, 0.5);
	margin-bottom: 0px;
	scroll-behavior: smooth;
	margin-left: auto;
	margin-right: auto;
}

main {
	max-width: 1512px;
}

.nav-container {
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	flex-direction: row;
	position: sticky;
	align-items: center;
	width: 98%;
	border-bottom: 1px;
	border-bottom-color: #181816;
	border-bottom-style: solid;
	background: rgba(254, 252, 237, 0.9);
	z-index: 10;

	.nav-items {
		margin-left: auto;
	}
}

.about {
	background-color: transparent;
	font-size: 30px;
	border-color: transparent;
	font-family: 'General Sans', sans-serif;
	font-weight: 200;
	cursor: pointer;
	transition: 0.5s ease;
	user-select: none;
}

.about:hover {
	color: #7b41f5;
}

.about:active {
	transform: scale(0.9);
	color: #7b41f5;
}

.gallery {
	background-color: #7b41f5;
	font-size: 30px;
	border-color: transparent;
	border-radius: 30px;
	color: #f4f1eb;
	width: 164px;
	font-weight: 200;
	font-family: 'General Sans', sans-serif;
	cursor: pointer;
	transition: 0.2s ease;
	user-select: none;
	padding: 5px 0 5px 0;
}

.gallery:hover {
	opacity: 0.9;
}

.gallery:active {
	opacity: 0.8;
	transform: scale(0.96);
}

.logo {
	width: 80px;
	height: 80px;
	user-select: none;
}

.footer {
	display: flex;
	margin: 0 32px 0 32px;
	border-bottom: 10px #000000;
	width: 97%;
	margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.rights {
	font-size: 1.3em;
	text-align: center;
	user-select: none;
}

.footer.button-container {
	display: block;
	margin: 0;
}

.button-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.Top {
	background-color: #181816;
	font-size: 30px;
	border-color: transparent;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: 0.2s ease;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Top:hover {
	opacity: 0.9;
}

.Top:active {
	opacity: 0.8;
	transform: scale(0.96);
}

.arrow {
	height: 30px;
	width: 30px;
}

/* Scrollbars */

// Firefox
* {
	scrollbar-width: thin;
	scrollbar-color: #fefced;
	/* Set the thumb and track colors */
	background-clip: padding-box;
	/* Remove the background */
}

// Webkit & Blink
*::-webkit-scrollbar {
	width: 6px;
	background-color: #fefced;
	background-clip: padding-box;
	/* Remove the background */
}

*::-webkit-scrollbar-thumb {
	background-color: #fefced;
	border-radius: 5px;
}

*::-webkit-scrollbar-track {
	background-color: #fefced;
	/* Set a fallback color */
}

*::-webkit-scrollbar-track-piece {
	background-color: #fefced;
}
