@import url('https://fonts.cdnfonts.com/css/general-sans?styles=135312,135307,135305,135306,135308,135309,135310,135311,135313,135314,135303,135304');

/* general style */
html,
body,
main {
  font-family: 'General Sans', sans-serif;
  margin: 0;
  color: #181816;
  background-color: #FEFCED;
  margin-bottom: 0px;
  scroll-behavior: smooth;
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;

}


div.nav {
  display: grid;
  grid-template-areas: '🟥 🟩 🟪 🟦';
  grid-template-columns: 200px auto 110px 164px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px;
  border-bottom-color: #181816;
  border-bottom-style: solid;
  position: sticky;
  top: 0;
  background: rgba(254, 252, 237, 0.9);
  z-index: 10;
}



.about {
  background-color: transparent;
  font-size: 30px;
  border-color: transparent;
  margin-top: 15px;
  font-family: 'General Sans', sans-serif;
  font-weight: 200;
  cursor: pointer;
  transition: 0.5s ease;
  user-select: none;


}

.about:hover {

  color: #4F3BB5;
}

.about:active {

  transform: scale(0.9);
  color: #4F3BB5;
}

.gallery {
  background-color: #4F3BB5;
  font-size: 30px;
  border-color: transparent;
  border-radius: 25px;
  color: #F4F1EB;
  width: 164px;
  margin-top: 15px;
  font-weight: 200;
  font-family: 'General Sans', sans-serif;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
}

.gallery:hover {
  opacity: 0.9;
}

.gallery:active {
  opacity: 0.8;
  transform: scale(0.96);
}


.logo {
  width: 80px;
  height: 80px;
  user-select: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

 /* Your CSS styles go here */
 #footer {
  background-color:transparent;
  color:#181816 ;
  font-size: 5px;
  text-align: center;
}

.Rights {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  user-select: none;
}

div.footer {
  display: grid;
  grid-template-areas: '🟩 🟪 🟦';
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px;
  max-width: 1512px;
}

.footer a {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Top {
  background-color: #181816;
  font-size: 30px;
  border-color: transparent;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Top:hover {
  opacity: 0.9;
}

.Top:active {
  opacity: 0.8;
  transform: scale(0.96);
}

.arrow  {
  height: 30px;
  width: 30px;
  filter: invert(1);
}

/* Scrollbars */

// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: #FEFCED;
  /* Set the thumb and track colors */
  background-clip: padding-box;
  /* Remove the background */
}

// Webkit & Blink
*::-webkit-scrollbar {
  width: 6px;
  background-color: #FEFCED;
  background-clip: padding-box;
  /* Remove the background */
}

*::-webkit-scrollbar-thumb {
  background-color: #FEFCED;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #FEFCED;
  /* Set a fallback color */
}

*::-webkit-scrollbar-track-piece {
  background-color: #FEFCED;
}