// Color Palette Light mode 
$space-beige: #F4F1EB; //Background
$space-black: #181816; //Text
$space-purple: #4F3BB5; //Accent


// Color Palette Dark mode 
$universes-black: #181816; //Background
$universe-beige: #F4F1EB; //Text
$lime-green: #C0FE1F; //Accent

// Font Family
$font-family: 'General Sans', sans-serif;
